// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.account-properties-container{
    position: absolute;
    top: 0;
    right: 5px;
}
.logout-btn{
    color: #b7b7b7!important;
    width: 118px;
    height: 30px;
}
.account-properties-container-bg{
    background-color: #35363c;
}
.info-text-container{
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-bottom: 8px
}
