.content_bc {
    background-color: #EFF0EB;
}
.welcome {
    background-image: url("ballon_1.png");
    background-size: cover;
    background-attachment: fixed;
}
@media (max-width: 900px) {
    .welcome {
        background-image: url("ballon_1_small.png");
        background-size: cover;
        background-attachment: fixed;
    }
}
.color_1 {
    color: #EFF0EB;
}
.color_2 {
    color: #C5C1BB;
}
.color_3 {
    color: #484E4A;
}
.color_4 {
    color: #EACB48 !important;
}
.color_5 {
    color: #00A099 !important;
}
.color_money {
    color: #85bb65;
}
.color_day {
    color: #663399;
}
.color_profit {
    color: #ff0000;
}
.font_header_button {
    font-size: 22px;
}
.font_footer_button {
    font-size: 22px;
}
.font_big_text {
    font-size: 80px;
}
.font_normal_text {
    font-size: 30px;
}
.font_small_text {
    font-size: 20px;
}
@font-face {
    font-family: tahu;
    src: url("Tahu.ttf");
}
.app-name {
    font-size: 100px;
    font-family: tahu, serif;
}
.font_tahu {
    font-family: tahu, serif;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}
.flex {
    display: flex;
}
